@model Travel_Website.Models.Tour

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/tourDetailStyle.css" />
</head>
<body>
    <div class="tour-container">
        <dl class="dl-horizontal">
            <dt>
                Mã Tour
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaTour)
            </dd>

            <dt>
                Tên Tour
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenTour)
            </dd>

            <dt>
                Giá
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gia)
            </dd>

            <dt>
                Ngày Khởi Hành
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayKhoiHanh)
            </dd>

            <dt>
                Ngày Kết Thúc
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayKetThuc)
            </dd>

            <dt>
                Số Chỗ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoCho)
            </dd>

            <dt>
                Nội Dung
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoiDung)
            </dd>

            <dt>
                Mã Loại Tour
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaLoaiTour)
            </dd>

        </dl>
    </div>
</body>
</html>


    <div>
        <hr />
        
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
