@model Travel_Website.Models.Tour

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/tourEditStyle.css"/>
    <title>Edit</title>
</head>
<body>
    <div class="row">
        @using (Html.BeginForm("Edit", "Tour", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Tour</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group">
                    Tên Tour
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenTour, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenTour, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Giá
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Ngày Khởi Hành
                    <div class="col-md-10">
                        <input type="datetime" name="NgayKhoiHanh" value="@Model.NgayKhoiHanh" />
                        @Html.ValidationMessageFor(model => model.NgayKhoiHanh, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Ngày Kết Thúc
                    <div class="col-md-10">
                        <input type="datetime" name="NgayKetThuc" value="@Model.NgayKetThuc" />
                        @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Số Chỗ
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SoCho, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoCho, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Nội Dung
                    <div class="col-md-10">
                        <textarea name="NoiDung">@Model.NoiDung</textarea>
                        @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    Chi Tiết Tour
                    <div class="col-md-10">
                        <textarea name="ChiTietTour">@Model.ChiTietTour</textarea>
                        @Html.ValidationMessageFor(model => model.ChiTietTour, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LoaiTour.TenLoaiTour, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MaLoaiTour", new SelectList(Model.ListLoaiTour, "ID", "TenLoaiTour"), htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaLoaiTour, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" id="file" name="file" class="form-control" />
                        @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
