@model IEnumerable<Travel_Website.Models.Tour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/tourIndexStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>

    @Html.ActionLink("Tạo Tour Mới", "Create")

    <table>
        <tr class="title">
            <td>
                @Html.DisplayNameFor(model => model.MaTour)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.TenTour)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Gia)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.NgayKhoiHanh)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.SoCho)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.LoaiTour.TenLoaiTour)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </td>
            <td>
                Chỉnh sửa
            </td>
            <td>
                Chi tiết
            </td>
            <td>
                Xóa
            </td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 40px">
                    @Html.DisplayFor(modelItem => item.MaTour)
                </td>
                <td style="width: 200px">
                    @Html.DisplayFor(modelItem => item.TenTour)
                </td>
                <td style="text-align: center; width: 60px">
                    @Html.DisplayFor(modelItem => item.Gia)
                </td>
                <td style="width: 50px">
                    @Html.DisplayFor(modelItem => item.NgayKhoiHanh)
                </td>
                <td style="width: 50px">
                    @Html.DisplayFor(modelItem => item.NgayKetThuc)
                </td>
                <td style="text-align: center; width: 50px">
                    @Html.DisplayFor(modelItem => item.SoCho)
                </td>

                <td style="text-align: center; width: 50px">
                    @item.LoaiTour.TenLoaiTour
                </td>
                <td>
                    @{
                        var imgsrc = "";
                        if (item.HinhAnh != null)
                        {
                            var base64 = Convert.ToBase64String(item.HinhAnh.ToArray());
                            imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }
                        <img src='@imgsrc' style="max-width:100px;max-height:100px" />
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.ID })" class="fa fa-edit btn"></a>
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.ID })" class="fa fa-info-circle btn1"></a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", new { id = item.ID })" class="fa fa-trash btn2"></a>
                </td>
            </tr>

        }
    </table>
</body>
</html>
