@using Travel_Website.Models;
@model dynamic

@{
    ViewBag.Title = "ThongTinTour";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/userStyle.css"/>
</head>
<body>
    <h1 class="h1-container">Thông Tin Tour Đã Đặt</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-1">
                <div class="card text-center sidebar">
                    <div class="card-body img-container">
                        <img src="~/Content/Images/booked-img.svg" class="rounded-circle" width="150" />
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-1 table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tên khách hàng</th>
                            <th scope="col">Tour đã đặt</th>
                            <th scope="col">Số chỗ</th>
                            <th scope="col">Thành tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var userid = Session["Account"] as KhachHang; }
                        @{Model1 context = new Model1();}
                        @{List<DatTour> t = context.DatTours.ToList(); }
                        @foreach (ChiTietDatTour ctdt in Model.chitietdattourlist)
                        {
                            foreach (var item in t)
                            {
                                if (ctdt.MaDatTour == item.ID)
                                {
                                    <tr>
                                        <td>@userid.Ten</td>
                                        <td>@item.Tour.TenTour</td>
                                        <td>@item.SoCho</td>
                                        <td>@item.ThanhTien</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="back-btn">
        <a>@Html.ActionLink("Back to List", "Index", "Home")</a>
    </div>
</body>
</html>

