@model Travel_Website.Models.TinhThanh

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TinhThanh</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaTinhThanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTinhThanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTinhThanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTinhThanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
