@using Travel_Website.Models;
@model dynamic

@{
    ViewBag.Title = "DatTour";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>@ViewBag.Title - DDT Group - Travel Around The World.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/userStyle.css" />
</head>
<body>
    <div class="container booked-container">
        <div class="book2-container">
            <div class="col-md-4 mt-1">
                <div class="card text-center sidebar">
                    <div class="card-body">
                        <img src="~/Content/Images/book-tour-img.svg" />
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-1">
                <div class="card mb-3">
                    <h1 class="m-3 pt-3 content1">Thông Tin Tour</h1>
                    @foreach (var item in Model.Tours)
                    {
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Mã Tour</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                @item.MaTour
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Tên Tour</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                @item.TenTour
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Giá</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                @item.Gia
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Ngày Khởi Hành</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                @item.NgayKhoiHanh
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Ngày Kết Thúc</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                @item.NgayKetThuc
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Số Chỗ</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                @item.SoCho
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Nội Dung</h5>
                            </div>
                            <div class="col-md-9 text-secondary">
                                @item.NoiDung
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9 text-secondary">
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="book-btn col-md-3">
                @foreach (var item in Model.Tours)
                {
                    if (Session["Account"] != null)
                    {
                        <a href="#" class="btn" onclick="location.href='@Url.Action("DatTour2", "Home", new { id = item.ID })'">Đặt tour</a>
                    }
                    else
                    {
                        @Html.Raw(TempData["msg1"])
                        <a href="#" class="btn" onclick="location.href='@Url.Action("Index", "Home", new { id = item.ID })'">Đặt tour</a>
                    }
                }

            </div>
        </div>
    </div>
   



  
</body>
</html >



