@using Travel_Website.Models;
@model dynamic

@{
    ViewBag.Title = "DatTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DDT Group - Travel Around The World.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet"
          href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <section class="signup">
        <h1 class="heading">
            <span>đ</span>
            <span>ặ</span>
            <span>t</span>
            <span class="space"></span>
            <span>t</span>
            <span>o</span>
            <span>u</span>
            <span>r</span>
        </h1>
        <div class="row">
            <div class="image">
                <img src="~/Content/Images/book-img.svg" alt="">
            </div>

            <table>
                <tr>
                    <th>Mã tour</th>
                    <th>Tên tour</th>
                    <th>Giá</th>
                    <th>Ngày Khởi Hành</th>
                    <th>Ngày Kết Thúc</th>
                    <th>Số Chỗ</th>
                    <th>Nội Dung</th>
                    @*<th>Hình Ảnh</th>*@
                </tr>
                @foreach (var item in Model.Tours)
                {
                    <tr>
                        <td>@item.MaTour</td>
                        <td>@item.TenTour</td>
                        <td>@item.Gia</td>
                        <td>@item.NgayKhoiHanh</td>
                        <td>@item.NgayKetThuc</td>
                        <td>@item.SoCho</td>
                        <td>@item.NoiDung</td>
                        <td>
                            @*@{
                            var imgsrc = "";
                            if (item.HinhAnh != null)
                            {
                                var base64 = Convert.ToBase64String(item.HinhAnh.ToArray());
                                imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                            }
                            <img src='@imgsrc' />
                        }*@
                        </td>
                    </tr>
                }

            </table>

            @foreach (var item in Model.Tours)
            {
                if (Session["Account"] != null)
                {
                    <a href="#" class="btn" onclick="location.href='@Url.Action("DatTour2", "Home", new { id = item.ID })'">Đặt tour</a>
                }
                else
                {
                    <a href="#" class="btn" onclick="location.href='@Url.Action("Index", "Home", new { id = item.ID })'">Đặt tour</a>
                    @*<script>
                        $(document).ready(function () {
                                alert('Vui lòng đăng nhập');
                        });
                        </script>*@
                 }
              }

        </div>
     </section >
</body >
</html >



