@using Travel_Website.Models;
@model dynamic

@{
    ViewBag.Title = "DatTour";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DDT Group - Travel Around The World.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet"
          href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <section class="book1">
        <h1 class="heading">
            <span>đ</span>
            <span>ặ</span>
            <span>t</span>
            <span class="space"></span>
            <span>t</span>
            <span>o</span>
            <span>u</span>
            <span>r</span>
        </h1>
        <div class="row">
            <div class="image">
                <img src="~/Content/Images/book-img.svg" alt="">
            </div>
            <div class="book-container">
                <dl class="dl-horizontal">
                    @foreach (var item in Model.Tours)
                    {
                        <dt>Mã Tour</dt>
                        <dd>@item.MaTour</dd>
                        <dt>Tên Tour</dt>
                        <dd>@item.TenTour</dd>
                        <dt>Giá</dt>
                        <dd>@item.Gia</dd>
                        <dt>Ngày Khởi Hành</dt>
                        <dd>@item.NgayKhoiHanh</dd>
                        <dt>Ngày Kết Thúc</dt>
                        <dd>@item.NgayKetThuc</dd>
                        <dt>Số Người</dt>
                        <dd>@item.SoCho</dd>
                        <dt>Nội Dung</dt>
                        <dd>@item.NoiDung</dd>
                        @*<td>
                @{
                var imgsrc = "";
                if (item.HinhAnh != null)
                {
                    var base64 = Convert.ToBase64String(item.HinhAnh.ToArray());
                    imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                }
                <img src='@imgsrc' />
            }
            </td>*@
                    }
                </dl>
            </div>

            <div class="book-btn">
                @foreach (var item in Model.Tours)
                {
                    if (Session["Account"] != null)
                    {
                        <a href="#" class="btn" onclick="location.href='@Url.Action("DatTour2", "Home", new { id = item.ID })'">Đặt tour</a>
                    }
                    else
                    {
                        <a href="#" class="btn" onclick="location.href='@Url.Action("Index", "Home", new { id = item.ID })'">Đặt tour</a>
                        <script>
                            $(document).ready(function () {
                                    alert('Vui lòng đăng nhập');
                            });
                        </script>
                    }
                 }

             </div>
        </div>
    </section >
</body >
</html >



