@using Travel_Website.Models;

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DDT Group - Travel Around The World</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet"
          href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    @Styles.Render("~/Content/css")
</head>
<body>

    <!--home section-->
    <section class="home" id="home">
        <div class="content">
            <h3>hành trình là những chuyến đi</h3>
            <p>hãy khám phá những chân trời mới, đồng hành cùng chúng tôi</p>
            <a href="#" class="btn">khám phá thêm</a>
        </div>
        <div class="controls">
            <span class="vid-btn active" data-src="Content/Images/vid-1.mp4"></span>
            <span class="vid-btn" data-src="Content/Images/vid-2.mp4"></span>
            <span class="vid-btn" data-src="Content/Images/vid-3.mp4"></span>
            <span class="vid-btn" data-src="Content/Images/vid-4.mp4"></span>
            <span class="vid-btn" data-src="Content/Images/vid-5.mp4"></span>
        </div>
        <div class="video-container">
            <video src="~/Content/Images/vid-1.mp4" id="video-slider" loop autoplay muted></video>
        </div>
    </section>
    <!--end-home-section-->
    <!--Book section-->
    <section class="book" id="book">
        <h1 class="heading">
            <span>đ</span>
            <span>ặ</span>
            <span>t</span>
            <span class="space"></span>
            <span>n</span>
            <span>g</span>
            <span>a</span>
            <span>y</span>
        </h1>

        <div class="row">
            <div class="image">
                <img src="~/Content/Images/book-img.svg" alt="">
            </div>

            <form action="">
                <div class="inputBox">
                    <h3>where to</h3>
                    <input type="text" placeholder="place name" />
                </div>
                <div class="inputBox">
                    <h3>how many</h3>
                    <input type="number" placeholder="number of guests" />
                </div>
                <div class="inputBox">
                    <h3>arrivals</h3>
                    <input type="date" />
                </div>
                <div class="inputBox">
                    <h3>leaving</h3>
                    <input type="date" />
                </div>
                <input type="submit" class="btn" value="book now" />
            </form>
        </div>
    </section>
    <!--End Book section-->
    <!--Package section-->
    <section class="tours" id="tours">
        <h1 class="heading">
            <span>t</span>
            <span>o</span>
            <span>u</span>
            <span>r</span>
            <span>s</span>
        </h1>

        <!--nghi duong-->
        <div class="tour-container">
            <h1 class="heading">
                <span>TOURS NGHỈ DƯỠNG</span>
            </h1>
            <div class="box-container">
                @{int i = 0;}
                @foreach (Tour item in Model.tourlist)
                {
                    if (item.MaLoaiTour == 1 && i < 2)
                    {
                        <div class="box">
                            @{
                                var imgsrc = "";
                                if (item.HinhAnh != null)
                                {
                                    var base64 = Convert.ToBase64String(item.HinhAnh.ToArray());
                                    imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                }

                            }
                            <img src='@imgsrc' />
                            <div class="content">
                                <h3>
                                    <i class="fas fa-map-marker-alt">
                                        @item.TenTour
                                    </i>
                                </h3>
                                <p>
                                    @item.NoiDung
                                </p>
                                <div class="starts">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <div class="price">@item.Gia vnd<span> 20.000.000vnd</span></div>
                                <a href="#" class="btn" onclick="location.href='@Url.Action("DatTour", "Home", new { id = item.ID })'">book now</a>
                                <a href="#" class="btn" onclick="location.href='@Url.Action("TourDetails", "Home", new { id = item.ID })'">Chi tiết tour</a>
                            </div>
                        </div>
                        i++;
                    }
                }
            </div>
            @{i = 0;}
            @foreach (Tour item in Model.tourlist)
            {
                if (item.MaLoaiTour == 1 && i < 1)
                {
                    <div class="btn" onclick="location.href='@Url.Action("TourList", "Home", new { id = item.MaLoaiTour })'">Xem Thêm</div>
                    i++;
                }
            }
                </div>
        <!--end-tour-nghi-duong-->
        <!--tour-sinh-thai-->
        <div class="tour-container">
            <h1 class="heading">
                <span>TOURS SINH THÁI</span>
            </h1>
            <div class="box-container">
                @{int i1 = 0;}
                @foreach (Tour item in Model.tourlist)
                {

                    if (item.MaLoaiTour == 2 && i1 < 2)
                    {

                        <div class="box">
                            @{
                                var imgsrc = "";
                                if (item.HinhAnh != null)
                                {
                                    var base64 = Convert.ToBase64String(item.HinhAnh.ToArray());
                                    imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                }
                                <img src='@imgsrc' />
                            }

                            <div class="content">
                                <h3>
                                    <i class="fas fa-map-marker-alt">
                                        @item.TenTour
                                    </i>
                                </h3>
                                <p>
                                    @item.NoiDung
                                </p>
                                <div class="starts">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <div class="price">@item.Gia vnd<span> 20.000.000vnd</span></div>
                                <a href="#" class="btn" onclick="location.href='@Url.Action("DatTour", "Home", new { id = item.ID })'">book now</a>
                                <a href="#" class="btn" onclick="location.href='@Url.Action("TourDetails", "Home", new { id = item.ID })'">Chi tiết tour</a>
                            </div>                        
                        </div>
                        i1++;
                    }
                }
            </div>
            @{i1 = 0;}
            @foreach (Tour item in Model.tourlist)
            {
                if (item.MaLoaiTour == 3 && i1 < 1)
                {
                    <div class="btn" onclick="location.href='@Url.Action("TourList", "Home", new { id = item.MaLoaiTour })'">Xem Thêm</div>
                    i1++;
                }
            }
        </div>
        <!--end-tour-sinh-thai-->
        <!--tour-VH-LS-->
        <div class="tour-container">
            <h1 class="heading">
                <span>TOURS VĂN HÓA - LỊCH SỬ</span>
            </h1>
            <div class="box-container">
                @{int i2 = 0;}
                @foreach (Tour item in Model.tourlist)
                {
                    if (item.MaLoaiTour == 3 && i2 < 2)
                    {

                        <div class="box">
                            @{
                                var imgsrc = "";
                                if (item.HinhAnh != null)
                                {
                                    var base64 = Convert.ToBase64String(item.HinhAnh.ToArray());
                                    imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                }
                                <img src='@imgsrc' />
                            }

                            <div class="content">
                                <h3>
                                    <i class="fas fa-map-marker-alt">
                                        @item.TenTour
                                    </i>
                                </h3>
                                <p>
                                    @item.NoiDung
                                </p>
                                <div class="starts">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <div class="price">@item.Gia vnd<span> 20.000.000vnd</span></div>
                                <a href="#" class="btn" onclick="location.href='@Url.Action("DatTour", "Home", new { id = item.ID })'">book now</a>
                                <a href="#" class="btn" onclick="location.href='@Url.Action("TourDetails", "Home", new { id = item.ID })'">Chi tiết tour</a>
                            </div>
                        </div>
                        i2++;
                    }
                }
            </div>
            @{i2 = 0;}
            @foreach (Tour item in Model.tourlist)
            {
                if (item.MaLoaiTour == 2 && i2 < 1)
                {
                    <div class="btn" onclick="location.href='@Url.Action("TourList", "Home", new { id = item.MaLoaiTour })'">Xem Thêm</div>
                    i2++;
                }
            }
        </div>
        <!--end-tour-VH-LS-->



    </section>
    <!--End Package section-->
    <!--services-section-->
    <section class="services" id="services">
        <h1 class="heading">
            <span>d</span>
            <span>ị</span>
            <span>c</span>
            <span>h</span>
            <span class="space"></span>
            <span>v</span>
            <span>ụ</span>
        </h1>

        <div class="box-container">

            <div class="box">
                <i class="fas fa-hotel"></i>
                <h3>khách sạn ưu đãi</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue scelerisque hendrerit. Morbi iaculis euismod lacus eget elementum. Fusce et lacus diam. Maecenas gravida imperdiet eleifend</p>
            </div>

            <div class="box">
                <i class="fas fa-utensils"></i>
                <h3>thức ăn</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue scelerisque hendrerit. Morbi iaculis euismod lacus eget elementum. Fusce et lacus diam. Maecenas gravida imperdiet eleifend</p>
            </div>

            <div class="box">
                <i class="fas fa-bullhorn"></i>
                <h3>hướng dẫn</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue scelerisque hendrerit. Morbi iaculis euismod lacus eget elementum. Fusce et lacus diam. Maecenas gravida imperdiet eleifend</p>
            </div>

            <div class="box">
                <i class="fas fa-globe-asia"></i>
                <h3>vòng quanh thế giới</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue scelerisque hendrerit. Morbi iaculis euismod lacus eget elementum. Fusce et lacus diam. Maecenas gravida imperdiet eleifend</p>
            </div>

            <div class="box">
                <i class="fas fa-plane"></i>
                <h3>di chuyển nhanh</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue scelerisque hendrerit. Morbi iaculis euismod lacus eget elementum. Fusce et lacus diam. Maecenas gravida imperdiet eleifend</p>
            </div>

            <div class="box">
                <i class="fas fa-hiking"></i>
                <h3>phiêu lưu</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue scelerisque hendrerit. Morbi iaculis euismod lacus eget elementum. Fusce et lacus diam. Maecenas gravida imperdiet eleifend</p>
            </div>

        </div>
    </section>

    <!--end-services-section-->
    <!--gallery section-->
    <section class="gallery" id="gallery">
        <h1 class="heading">
            <span>g</span>
            <span>a</span>
            <span>l</span>
            <span>l</span>
            <span>e</span>
            <span>r</span>
            <span>y</span>
        </h1>

        <div class="box-container">
            <div class="box">
                <img src="~/Content/Images/g-1.jpg" />
                <div class="content">
                    <h3>những nơi kỳ thú</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn">xem thêm</a>
                </div>
            </div>

            <div class="box">
                <img src="~/Content/Images/g-2.jpg" />
                <div class="content">
                    <h3>những nơi kỳ thú</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn">xem thêm</a>
                </div>
            </div>

            <div class="box">
                <img src="~/Content/Images/g-3.jpg" />
                <div class="content">
                    <h3>những nơi kỳ thú</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn">xem thêm</a>
                </div>
            </div>

            <div class="box">
                <img src="~/Content/Images/g-4.jpg" />
                <div class="content">
                    <h3>những nơi kỳ thú</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn">xem thêm</a>
                </div>
            </div>

            <div class="box">
                <img src="~/Content/Images/g-5.jpg" />
                <div class="content">
                    <h3>những nơi kỳ thú</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn">xem thêm</a>
                </div>
            </div>

            <div class="box">
                <img src="~/Content/Images/g-6.jpg" />
                <div class="content">
                    <h3>những nơi kỳ thú</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn">xem thêm</a>
                </div>
            </div>

            <div class="box">
                <img src="~/Content/Images/g-7.jpg" />
                <div class="content">
                    <h3>những nơi kỳ thú</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn">xem thêm</a>
                </div>
            </div>

            <div class="box">
                <img src="~/Content/Images/g-8.jpg" />
                <div class="content">
                    <h3>những nơi kỳ thú</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn">xem thêm</a>
                </div>
            </div>

            <div class="box">
                <img src="~/Content/Images/g-9.jpg" />
                <div class="content">
                    <h3>những nơi kỳ thú</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="btn">xem thêm</a>
                </div>
            </div>
        </div>
    </section>
    <!--end gallery section-->
    <!--review section-->
    <section class="review" id="review">
        <h1 class="heading">
            <span>r</span>
            <span>e</span>
            <span>v</span>
            <span>i</span>
            <span>e</span>
            <span>w</span>
        </h1>

        <div class="swiper-container review-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="box">
                        <img src="~/Content/Images/pic1.png" />
                        <h3>johny deo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue scelerisque hendrerit. Morbi iaculis euismod lacus eget elementum. Fusce et lacus diam. Maecenas gravida imperdiet eleifend</p>
                        <div class="starts">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <img src="~/Content/Images/pic2.png" />
                        <h3>johny deo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue scelerisque hendrerit. Morbi iaculis euismod lacus eget elementum. Fusce et lacus diam. Maecenas gravida imperdiet eleifend</p>
                        <div class="starts">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <img src="~/Content/Images/pic3.png" />
                        <h3>johny deo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue scelerisque hendrerit. Morbi iaculis euismod lacus eget elementum. Fusce et lacus diam. Maecenas gravida imperdiet eleifend</p>
                        <div class="starts">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="box">
                        <img src="~/Content/Images/pic4.png" />
                        <h3>johny deo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue scelerisque hendrerit. Morbi iaculis euismod lacus eget elementum. Fusce et lacus diam. Maecenas gravida imperdiet eleifend</p>
                        <div class="starts">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end-review section-->
    <!--contact-section-->
    <section class="contact" id="contact">
        <h1 class="heading">
            <span>l</span>
            <span>i</span>
            <span>ê</span>
            <span>n</span>
            <span class="space"></span>
            <span>h</span>
            <span>ệ</span>
        </h1>

        <div class="row">
            <div class="image">
                <img src="~/Content/Images/contact-img.svg" />
            </div>

            <form>
                <div class="inputBox">
                    <input type="text" placeholder="tên" />
                    <input type="email" placeholder="email" />
                </div>
                <div class="inputBox">
                    <input type="tel" placeholder="số điện thoại" />
                    <input type="text" placeholder="nội dung" />
                </div>
                <textarea placeholder="tin nhắn" cols="30" rows="10"></textarea>
                <input type="submit" class="btn" value="gửi" />
            </form>
        </div>
    </section>
    <!--end-contact-section-->
    <!--brand-section-->
    <section class="brand-container">

        <div class="swiper-container brand-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="~/Content/Images/1.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="~/Content/Images/2.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="~/Content/Images/3.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="~/Content/Images/4.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="~/Content/Images/5.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="~/Content/Images/6.jpg" />
                </div>
            </div>
        </div>

    </section>
    <!--end-brand-section-->
    @Scripts.Render("~/Scripts/swiper-bundle.min.js")
    @Scripts.Render("~/Scripts/script.js")

</body>
</html>