@model Travel_Website.Models.KhachHang

@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DDT Group - Travel Around The World.</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet"
          href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <section class="signup">
        <h1 class="heading">
            <span>đ</span>
            <span>ă</span>
            <span>n</span>
            <span>g</span>
            <span class="space"></span>
            <span>k</span>
            <span>ý</span>
        </h1>

        <div class="row">
            <div class="image">
                <img src="~/Content/Images/book-img.svg" alt="">
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                <h3>Họ tên</h3>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h3>Số điện thoại</h3>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h3>Email đăng nhập</h3>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label class="lable-danger">@ViewBag.DuplicateMessage</label>
                </div>
            </div>

            <div class="form-group">
                <h3>Mật khẩu</h3>
                <div class="col-md-10">
                    @*@Html.PasswordFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })*@
                    <input type="password" name="MatKhau" class="form-control"/>
                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Signup" class="btn btn-default" />
                </div>
            </div>
        </div>
            }
        </div>
    </section>
</body>
</html>


