@model IEnumerable<Travel_Website.Models.HinhAnhTinhThanh>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHinhAnhTinhThanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaTinhThanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHinhAnhTinhThanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaTinhThanh)
        </td>
        <td>
            @{
                var imgsrc = "";
                if (item.HinhAnh != null)
                {
                    var base64 = Convert.ToBase64String(item.HinhAnh.ToArray());
                    imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                }
                <img src='@imgsrc' style="max-width:100px;max-height:100px" />
            }
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
